<strong>Olá, {{ deliveryman }}.</strong>
<p>A entrega de identificação <strong>{{ delivery_id }}</strong> do produto <strong>{{ product }}</strong> foi
  cancelada. Confira abaixo o motivo do cancelamento: </p>
<p>
  <strong>{{ description }}</strong><br />
</p>
